root { 
    display: block;
}

.italics{
	font-style: italic;
}

.chart{
	width:100%;
	max-width:360px;
}

#fullPageMap
{
    width:100%;
    height:100%;
}
#fullPageMap #fullPageMap-Content
{
    width:100%;
    height:100%;
}

#fullPageMap #map_canvas{
    width: 100%;
    height:100%;
}

/* CURRENT DRIVE */

.drive-stat{
    width: 100%;
    max-height: 40px;
    position:relative;
}

.drive-stat img{
    max-height: 40px;
    max-width: 40px;
    display: inline-block;
    vertical-align:middle;
}

.drive-stat .label{
    position: relative;
    top:50%;
    margin-top: -9px;
    padding-left: 10px;
    font-size: 1.4em;
}

.drive-stat .value{
    position: absolute;
    top:50%;
    margin-top: -9px;
    right:10px;
    font-size: 1.4em;
}

/* DRIVE RESULTS */
.drive-result img {
    max-height: 40px;
    max-width: 40px;
}

.drive-result > div{
	text-align: center;
}

.center{
	text-align: center;
}

.my-score, .oppenent-score{
	position: relative;
    top:50%;
    margin-top: 16px;
    font-size: 1.4em;
}


/* DASHBOARD */

#dashboard-challenges li p.opponent{
    font-size: 1.4em;
}

#dashboard .challenge-state {
     position: absolute;
    top:50%;
    margin-top: -9px;
    right: 30px;
    font-size: .75em;
    max-width: 150px;
}